body {
  background-color: rgb(148, 14, 148);
}

main {
  display: flex;
  justify-content: center;
}

h1 {
  margin: 2rem;
  font-weight: 600;
}
.main-card {
  margin: 4rem;
  width: 30rem;
  background-color: white;
  box-shadow: .4rem .5rem .6rem .2rem rgba(0, 0, 0, .3) ;
  border-radius: .6rem;
}

.btn {
  background-color: rgb(148, 14, 148);
  color: white;
  height: 3.2rem;
  width: 25.5rem;
  font-size: x-large;
  margin: 1rem auto 1rem 2rem;
  border: none;
  border-radius: 0.6rem;
}

article {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  margin: 0 0 2.5rem 2rem;
}

article img {
  /* grid-column-start: 1; */
  grid-column-end: 1;
  width: 4.3rem;
  height: 4.5rem;
  border-radius: 5rem;
}
article div {
 margin-left: -5.5rem;
 text-transform: capitalize;
 padding: .5rem;
 font-weight: 600;
}

article p {
  text-transform: lowercase;
  margin-top: -.02rem;
   color: gray;
   font-weight: 400;
}